html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

header {
    text-align: center;
    border: 1px solid #aaa;
    background-color: #eee;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: centers;
    align-content: space-around;
    width: 50%;
    margin: auto;
}

.morpion {
}

.morpion table {
	border-collapse: collapse;
}

.morpion td {
	border: solid 1px black;				
	display: table-cell;
	width: 100px;
	height: 100px;
	text-align: center;
}
 
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #aaa;
    background-color: #eee;
    /* Set the fixed height of the footer here */
    height: 60px;
}
